
.contact-title {
	display: flex;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
}
.change-color-tertiary {
	color: var(--tertiary-color) !important;
}

.mb-9 {
	margin-bottom: 0.8rem !important;
}

.card {
	padding-top: 0.5rem;
	margin: auto;
	height: 8rem !important;
	width: 20rem !important;
	text-align: center;
	vertical-align: middle;
	border: 1px solid var(--tertiary-color) !important;
	border-radius: 12px !important;
	font-family: 'Montserrat', sans-serif;
	background: var(--card-bg) !important;
	box-shadow: 0 4px 30px var(--card-boxShadow) !important;
	backdrop-filter: blur(--bd-filter-blur) saturate(180%) !important;
	-webkit-backdrop-filter: blur(--bd-filter-blur) saturate(180%) !important;
	transition: transform 0.3s ease-in-out;
}
.card:hover {
	transform: scale(1.1);
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.card-icon a, .card-title a{
	color: var(--tertiary-color);
}
.card-icon a:hover, .card-title a:hover{
	color: var(--senary-color);
}
.card-body p{
	word-break: break-all !important;
}





@media screen and (max-width: 768px) and (min-width: 512px) {
	.card {
		height: 9.5rem !important;
		width: 16rem !important;
	}
	.card-body p {
		font-size: 14.5px !important;
	}
}
@media screen and (max-width: 512px) {
	.card-body p {
		font-size: 14px !important;
	}
}
@media screen and (max-width: 512px) {
	.card {
		height: 10.5rem !important;
		width: 11rem !important;
	}
}