html {
	cursor: url("../images/ezgif.com-gif-maker.gif"), auto !important;
}
a {
	cursor: url("../images/aero_arrow.ani"), auto !important;
}
button {
	cursor: url("../images/aero_arrow.ani"), auto !important;
}

.my-image-img {
	height: 25rem;
	box-shadow: 5px 10px 10px rgb(0 0 0 / 0.2);
	border-radius: 11px;
}

.short-info {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.fa-angles-right {
	color: var(--quinary-color);
	background-color: var(--tertiary-color);
	padding: 16px;
	border-radius: 30px;
}

/* more about me button */
.more-about-me-btn {
	border: 1px solid var(--tertiary-color);
	text-align: left;
	border-radius: 25px;
	background: var(--primary-color);
	width: fit-content;
	display: inline-block;
	border-radius: 25px;
	transition: all 0.3s;
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.more-about-me-btn:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--tertiary-color);
	border-radius: 25px;
	z-index: -2;
}

.more-about-me-btn:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0%;
	height: 100%;
	background-color: var(--tertiary-color);
	transition: all 0.3s;
	border-radius: 25px;
	z-index: -1;
}

.more-about-me-btn:hover:before {
	width: 100%;
}

/* end ofanimation for button */

.more-btn {
	border: none;
	outline: none;
	background: transparent;
	padding: 12px 16px;
	padding-left: 8px;
	font-size: small;
	color: var(--quaternary-color);
	font-family: 'Montserrat', sans-serif;	
}
.fa-angles-right:hover + .more-btn, .more-btn:hover {
	color: var(--quinary-color);
}


.my-name {
	color: var(--tertiary-color);
	padding: 5px 10px;
	font-family: 'Redressed', cursive;
	
}
.my-field {
	font-family: 'Raleway', sans-serif;
}
.my-description {
	font-family: 'Montserrat', sans-serif;
}
.my-field, .my-description {
	color: var(--quaternary-color);
	padding: 5px 10px;
}



/* bacground graditent */
@media screen and (max-width: 992px) and (min-width: 768px) {
	body {
		background: linear-gradient(105deg, var(--primary-color) 65%, var(--tertiary-color) 35%);
	}
}

@media screen and (max-width: 768px) and (min-width: 481px) {
	body {
		background: linear-gradient(135deg, var(--primary-color) 80%, var(--tertiary-color) 20%);
	}
}

@media screen and (max-width: 481px) {
	body {
		background: linear-gradient(135deg, var(--primary-color) 75%, var(--tertiary-color) 25%);
	}
}

/* short info */
@media screen and (max-width: 768px) {
	.short-info {
		flex-direction: column-reverse;
	}

	.my-image-img {
		height: 14rem;
		margin-bottom: 1rem;
	}
}