th, td {
	color: var(--secondary-color);
}

.portfolio-title {
	text-align: center;
	margin-bottom: 3rem;
	font-family: 'Raleway', sans-serif;
}

.portfolio-sub-title {
	text-align: center;
	margin-bottom: 1rem;
	margin-top: 2rem;
	font-family: 'Raleway', sans-serif;
}

.subject-name {
	width: 40%;
}

.subject-name img {
	width: 10%;
	vertical-align: middle;
	padding: 0 !important;
	margin: 0 !important;
}

.change-bg {
	background-color: white;
}

.progress {
	height: 40px;
	width: 70%;
}

.progress-bar {
	background-color: var(--tertiary-color) !important;
}

.my-skills .col-md-6 h5 {
	display: flex;
	justify-content: center;
	align-items: center;
}

a h5 {
	color: var(--tertiary-color) !important;
}
a h5:hover {
	color: var(--senary-color) !important;
}

.html {
	width: 97%;
}

.css {
	width: 90%;
}

.bootstrap {
	width: 85%;
}

.javascript {
	width: 80%;
}

.pug {
	width: 60%;
}

.python {
	width: 60%;
}

.cpp {
	width: 60%;
}

.java {
	width: 50%;
}

.nodejs {
	width: 30%;
}

.express {
	width: 30%;
}

.mongodb {
	width: 30%;
}

.mongoose {
	width: 30%;
}

.portfolio-body {
	margin: auto;
}

.my-tools {
	margin: auto !important;
}

.row {
	margin: auto !important;
	width: 100% !important;
	font-family: 'Montserrat', sans-serif;
}

.skills {
	padding: 1rem;
	border-radius: 11px;
	background-color: #191c24;
}

.card {
	text-align: center;
	width: 30% !important;
	padding: 10px;
	padding-bottom: 0;
	margin: auto;
	margin-bottom: 1rem;
	border-radius: 12px !important;
	border: 1px solid var(--tertiary-color) !important;
	background: var(--card-bg) !important;
	box-shadow: 0 4px 30px var(--card-boxShadow) !important;
	backdrop-filter: blur(--bd-filter-blur) saturate(180%) !important;
	-webkit-backdrop-filter: blur(--bd-filter-blur) saturate(180%) !important;
}



.card-head img {
	width: 3rem;
}

.card-body h5 {
	vertical-align: middle;
}






@media screen and (max-width: 392px) {
	.progress {
		width: 50%;
	}

	.subject-name {
		width: 50%;
	}
}

@media screen and (max-width: 992px) {
	.card {
		width: 45% !important;
	}
}

@media screen and (max-width: 992px) and (min-width: 768px) {
	.subject-name {
		width: 50%;
	}
}

@media screen and (max-width: 768px) {
	.card {
		width: 40% !important;
	}
}

@media screen and (max-width: 372px) {
	.card {
		width: 100% !important;
	}
}